
header {
    width: 1000px;
    height: 90px;
    padding: 0;
    box-sizing: content-box;
    position: relative;

}
body {
    margin: 0;
    padding: 0;
    border: 0cap;
    font-size: 100%;
    background-image: url("background1.jpg");
}
.nav {
    text-align:center;
}
h1 {
    text-align: center;
    background-color: black;
    color: white;
}