background {
    color: black;
}
#header {
    margin-top: 0%;
    width: 1000px;
    height: 90px;
    padding: 15px;
    box-sizing: content-box;
    position: relative;

}
#content-box {
    
}
#body {
    margin: 0;
    padding: 0;
    border: 0cap;
    font-size: 100%;
    background-image: url("background1.jpg");
}
#p1 {
    margin-left: 50%;
}
#h1 {
margin-left: 50%;
}
#background-image {
    url:('Codeprojects\Pages\background1.jpg');
}